@using MudBlazor

<div style="margin: 2em">
<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
                <img src="/logot.JPG" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
                <img src="/logot.JPG" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
                <img src="/logot.JPG" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
</MudCarousel>
</div>
<br />
<br />
<div class="row" style="margin: 5em 0em 2em 0em">
    <RadzenCard Style="margin-bottom: width: fit-content; min-width:450px; max-width:300px" Class="mt-2 mb-2 mx-auto">
        <div>
            <img src="/logot.JPG" width="300" />
        </div>
         <div>
             <h1> Projekte</h1>
        </div>
         <div>
             <h4>Neuste Projekte</h4>
        </div>
    </RadzenCard>
    <RadzenCard Style="margin-bottom: width: fit-content; min-width:450px;" Class="mt-2 mb-2 mx-auto">
          <div>
            <img src="/logot.JPG" width="300" />
        </div>
         <div>
             <h1> Qualifikationen</h1>
        </div>
         <div>
             <h4>Unsere Qualifikationen</h4>
        </div>
    </RadzenCard>
    <RadzenCard Style="margin-bottom: width: fit-content; min-width:450px;" Class="mt-2 mb-2 mx-auto">
          <div>
            <img src="/logot.JPG" width="300" />
        </div>
         <div>
             <h1> News</h1>
        </div>
         <div>
             <h4>Top News</h4>
        </div>
    </RadzenCard>
</div>

<br />
<br /><br />
<br />

@code {
    private bool arrows = true;
    private bool bullets = false;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}